<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frico.crmcore.mapper.RebateHisMapperExt">
  <resultMap id="BaseResultMap" type="com.frico.crmcore.model.RebateHis">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="exrebate" jdbcType="DOUBLE" property="exrebate" />
    <result column="from_time" jdbcType="BIGINT" property="fromTime" />
    <result column="lots" jdbcType="INTEGER" property="lots" />
    <result column="rebate" jdbcType="DOUBLE" property="rebate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="srebate" jdbcType="DOUBLE" property="srebate" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="to_time" jdbcType="BIGINT" property="toTime" />
    <result column="proxy_id" jdbcType="INTEGER" property="proxyId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, exrebate, from_time, lots, rebate, remark, srebate, state, to_time, proxy_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from frico_crm_rebate_his
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from frico_crm_rebate_his
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.frico.crmcore.model.RebateHis">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into frico_crm_rebate_his (exrebate, from_time, lots, 
      rebate, remark, srebate, 
      state, to_time, proxy_id
      )
    values (#{exrebate,jdbcType=DOUBLE}, #{fromTime,jdbcType=BIGINT}, #{lots,jdbcType=INTEGER}, 
      #{rebate,jdbcType=DOUBLE}, #{remark,jdbcType=VARCHAR}, #{srebate,jdbcType=DOUBLE}, 
      #{state,jdbcType=INTEGER}, #{toTime,jdbcType=BIGINT}, #{proxyId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.frico.crmcore.model.RebateHis">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into frico_crm_rebate_his
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="exrebate != null">
        exrebate,
      </if>
      <if test="fromTime != null">
        from_time,
      </if>
      <if test="lots != null">
        lots,
      </if>
      <if test="rebate != null">
        rebate,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="srebate != null">
        srebate,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="toTime != null">
        to_time,
      </if>
      <if test="proxyId != null">
        proxy_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="exrebate != null">
        #{exrebate,jdbcType=DOUBLE},
      </if>
      <if test="fromTime != null">
        #{fromTime,jdbcType=BIGINT},
      </if>
      <if test="lots != null">
        #{lots,jdbcType=INTEGER},
      </if>
      <if test="rebate != null">
        #{rebate,jdbcType=DOUBLE},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="srebate != null">
        #{srebate,jdbcType=DOUBLE},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="toTime != null">
        #{toTime,jdbcType=BIGINT},
      </if>
      <if test="proxyId != null">
        #{proxyId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.frico.crmcore.model.RebateHis">
    update frico_crm_rebate_his
    <set>
      <if test="exrebate != null">
        exrebate = #{exrebate,jdbcType=DOUBLE},
      </if>
      <if test="fromTime != null">
        from_time = #{fromTime,jdbcType=BIGINT},
      </if>
      <if test="lots != null">
        lots = #{lots,jdbcType=INTEGER},
      </if>
      <if test="rebate != null">
        rebate = #{rebate,jdbcType=DOUBLE},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="srebate != null">
        srebate = #{srebate,jdbcType=DOUBLE},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="toTime != null">
        to_time = #{toTime,jdbcType=BIGINT},
      </if>
      <if test="proxyId != null">
        proxy_id = #{proxyId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.frico.crmcore.model.RebateHis">
    update frico_crm_rebate_his
    set exrebate = #{exrebate,jdbcType=DOUBLE},
      from_time = #{fromTime,jdbcType=BIGINT},
      lots = #{lots,jdbcType=INTEGER},
      rebate = #{rebate,jdbcType=DOUBLE},
      remark = #{remark,jdbcType=VARCHAR},
      srebate = #{srebate,jdbcType=DOUBLE},
      state = #{state,jdbcType=INTEGER},
      to_time = #{toTime,jdbcType=BIGINT},
      proxy_id = #{proxyId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>